
<%= link_to 'Back', insurance_policies_path, class: 'back-link' %>

<section class="card">
  <header>
    <h1>Insurance Policy Details</h1>
    <%= link_to 'Edit', edit_insurance_policy_path(@insurance_policy), class: 'button-primary-outline' %>
  </header>
  <div class="card-inner">  
    <p id="notice"><%= notice %></p>
    <table class="summary-table">
      <tbody>
        <tr>
          <td>Name:</td>
          <td><%= @insurance_policy.name %></td>
        </tr>
        <tr>
          <td>Policy number:</td>
          <td><%= @insurance_policy.policy_number %></td>
        </tr>
        <tr>
          <td>Policy type:</td>
          <td><%= @insurance_policy.policy_type %></td>
        </tr>
        <tr>
          <td>Effective date:</td>
          <td><%= @insurance_policy.effective_date %></td>
        </tr>
        <tr>
          <td>Expiration date:</td>
          <td><%= @insurance_policy.expiration_date %></td>
        </tr>
        <tr>
          <td>Premium amount:</td>
          <td><%= @insurance_policy.premium_amount %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>




