<%= form_with(model: claim, local: true) do |form| %>
  <% if claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :claim_number %>
    <%= form.text_field :claim_number %>
  </fieldset>

  <fieldset>
    <%= form.label :initiation_date %>
    <div class="date-field">
      <%= form.date_select :initiation_date %>
    </div>
  </fieldset>

  <fieldset>
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </fieldset>

  <fieldset>
    <%= form.label :approved_amount %>
    <%= form.text_field :approved_amount %>
  </fieldset>

  <fieldset>
    <%= form.label :claim_reason %>
    <%= form.text_area :claim_reason %>
  </fieldset>

  <div class="actions">
    <%= form.submit(class: 'button-primary')  %>
  </div>
<% end %>
